{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light" xmlns:hover="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: "#da373d",
              "navbar-hover": "#9D00FF",
              "navbar-active": "#7A00CC",
              "btn-bg": "#00FFFF",
              "sub-text": "#A9A9A9",
              "primary-text": "#E0E0E0",
              "title-text": "#F2F2F2",
            },
            translate: {
              '1.11': '50%',
            }
          },
        },
      };
    </script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
      .font-inter {
        font-family: "Inter", system-ui;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
      }

      #id_number_0{
        width: 5rem;
        height: 3.5rem;
        flex: stretch;
        display: inline-block;
        border-radius: 12px;
      }

       #id_number_1{
        width: 100%;
        height: 3.5rem;
        flex: stretch;
        display: inline-block;
        border-radius: 20px;
      }

     {% block extra_style %}

    {% endblock %}
    </style>

  </head>
  <body
    class="font-inter bg-gradient-to-tr from-neutral-950 to-gray-700 min-h-screen"
  >
    <header>
      <!-- navbar start -->
      <nav class="bg-stone-200 align-middle p-0 fixed w-full h-11 top-0 z-10 z-[5]">
        <div class=" h-full flex justify-between items-center mx-0.5">
          <!-- nav starts -->
          <div class="flex">
            <div class="" onclick="toggleHide('menu')">
              <div tabindex="0" role="button" class="btn btn-ghost m-0">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5 p-0"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h8m-8 6h16"
                  />
                </svg>
              </div>

              <ul
                tabindex="0"
                id="menu"
                class="menu menu-lg h-screen w-2/3 md:w-2/5 hidden absolute -top-1 left-0  bg-stone-200 rounded-box z-[1] mt-3 p-2 shadow z-[2]"
                >
                <li class="w-full flex items-end text-right w-18 rounded-lg rounded-lg">
                    <img src="{% static 'images/close.png' %}" alt="close" class="w-20">
                </li>
                <li
                  class="active hover:text-navbar-hover text-navbar-active transition-all ease-in-out duration-200">
                  <a href="/">
                   {% if request.session.lang == 'en' %}  Home {% else %} হোম {% endif %}
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    class="hover:text-navbar-hover transition-all ease-in-out duration-200">
                   {% if request.session.lang == 'en' %} All Exam {% else %} সব পরীক্ষা {% endif %}
                  </a>
                </li>
                <li>
                  <a
                    href="https://play.google.com/store/apps/details?id=188276"
                    class="hover:text-navbar-hover transition-all ease-in-out duration-200">
                    {% if request.session.lang == 'en' %}  Our App {% else %} আমাদের অ্যাপ {% endif %}
                  </a>
                </li><li>
                  <a
                    href="#"
                    class="hover:text-navbar-hover transition-all ease-in-out duration-200">
                    {% if request.session.lang == 'en' %}  Notice {% else %} নোটিশ {% endif %}
                  </a>
                </li>
                <li>
                  <a
                    href="#faq"
                    class="hover:text-navbar-hover transition-all ease-in-out duration-200">
                    {% if request.session.lang == 'en' %}  FAQ {% else %} জিজ্ঞাসা {% endif %}
                  </a>
                </li>
                <li>
                  <a
                    href="#contact_us"
                    class="hover:text-navbar-hover transition-all ease-in-out duration-200">
                    {% if request.session.lang == 'en' %}  Contact Us {% else %} যোগাযোগ করুন {% endif %}
                  </a>
                </li>
                <div class="divider md:hidden"></div>
                <div class="lg ml-1 md:hidden">
                  <a href="/?lang=bn"
                    class="py-2 hover:text-navbar-hover {% if request.session.lang == 'bn' %} text-navbar-active {% endif %} rounded-lg cursor-pointer pl-2 text-lg  transition-all ease-in-out duration-200"
                    >বাংলা</a>
                  /
                  <a href="/?lang=en"
                    class="py-2 hover:text-navbar-hover {% if request.session.lang == 'en' %} text-navbar-active {% endif %}  text-lg pr-2 cursor-pointer rounded-lg transition-all ease-in-out duration-200"
                    >English</a>
                </div>
              </ul>
            </div>

            <div class="hidden md:block lg ml-1">
                  <a href="/?lang=bn"
                    class="py-2 btn btn-ghost hover:text-navbar-hover {% if request.session.lang == 'bn' %} text-navbar-active {% endif %}  rounded-lg cursor-pointer pl-2 text-sm active transition-all ease-in-out duration-200"
                    >বাংলা</a
                  >/<a href="/?lang=en"
                    class="hover:text-navbar-hover btn btn-ghost  {% if request.session.lang == 'en' %} text-navbar-active {% endif %} text-sm py-2 pr-2 cursor-pointer rounded-lg transition-all ease-in-out duration-200"
                    >English</a>
            </div>

          </div>
          <div class="h-full relative">
            <a href="#" class="text-center whitespace-nowrap text-xl absolute top-1 left-0 -translate-x-1.11 translate-y-1">
              {% if request.session.lang == 'en' %} Vasha Academy {% else %} ভাষা একাডেমী {% endif %}
            </a>
          </div>
          <div class="">
            {% if request.user.is_authenticated %}

            <div class="relative">
              <div tabindex="0" onclick="toggleHide('profile')" class="btn btn-ghost avatar flex items-center gap-1">
                <div class="ring-primary ring-offset-base-100 w-8 rounded-full ring-offset-2 ring-1">
                  <img
                    alt="USer image"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQt4EuKV5YxkN0cWzT2yBLL14LfU1nw7m05SCAW3MyQhg_yHRocBGmKgA_KwphuF7t0B_k&usqp=CAU" />
                </div>
                <div><i class="fa-solid fa-angle-down"></i></div>
              </div>
              <ul
                tabindex="0"
                id="profile"
                class="absolute right-5 top-12 hidden menu menu-sm bg-stone-200 rounded-b-md z-[1] mt-3 w-48 p-2 shadow text-2xl space-y-0">
                <li><a> {{ request.user.fullname }}</a></li>
                <li><a> {{ request.user.number }} </a></li>
                <li><a href="{% url 'customer:reset' %}"
                  class="py-1 mt-3 flex justify-center px-2 bg-navbar-active hover:bg-navbar-hover text-white transition-all ease-in-out duration-200"
                  >
                  {% if request.session.lang == 'en' %} Reset Password {% else %} রিসেট পাসওয়ার্ড {% endif %}
                </a></li>
                <li><a href="{% url 'customer:logout' %}"
                  class="py-1 mt-3 flex justify-center px-2 bg-navbar-active hover:bg-navbar-hover text-white transition-all ease-in-out duration-200"
                  >
                  {% if request.session.lang == 'en' %} Log Out {% else %} লগ আউট {% endif %}
                </a></li>
              </ul>
            </div>
            {% else %}
            <a href="{% url 'customer:login' %}"
              class="bg-navbar-active hover:bg-navbar-hover text-white transition-all ease-in-out duration-200 rounded-lg my-2 mt-2 p-2 h-5">
              {% if request.session.lang == 'en' %} Login/Sign up {% else %} লগইন/সাইন আপ {% endif %}
            </a>
            {% endif %}

          </div>
        </div>
      </nav>
      <!-- navbar ends -->
    </header>


    <main class="mx-auto container px-2 mt-15 md:px-0 relative">
      <br>

      <div class="top-64 fixed right-5 z-[10]">
        <button
            class="bg-navbar-active hover:bg-navbar-hover text-white transition-all ease-in-out duration-200 border-none text-lg rounded-full p-2 flex gap-1 items-center"
            onclick="contact_us_modal.showModal()"
            >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 0 1 .865-.501 48.172 48.172 0 0 0 3.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
              </svg>
        </button>
        <dialog id="contact_us_modal" class="modal">
          <div class="modal-box bg-gray-950">
            <form method="dialog">
              <button
                class="btn-sm btn-circle bg-red-500 hover:bg-navbar-hover text-white transition-all ease-in-out duration-200 border-none text-lg rounded-full p-2 flex gap-1 items-center absolute right-2 top-2"
                >✕
              </button
              >
            </form>
            <!-- main content -->
            <div class="space-y-3">
              <h3 class="text-title-text text-xl text-center lg:text-2xl font-bold">
              {% if request.session.lang == 'en' %} Ask Any Question {% else %} যেকোনো প্রশ্ন করুন {% endif %}
              </h3>
              <a href="sms://+8801521771635&body=[I need help]"
              class="bg-navbar-active hover:bg-navbar-hover text-white transition-all ease-in-out duration-200 border-none text-lg rounded-lg p-2 flex gap-1 items-center justify-center w-full"
              ><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 0 1 .865-.501 48.172 48.172 0 0 0 3.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
              </svg>
                {% if request.session.lang == 'en' %}   Chat With Us {% else %} মেসেজ ক্রুন {% endif %}
              </a>
            <a href="https:wa.me/+8801521771635"
              class="text-navbar-active hover:bg-navbar-hover border border-gray-700 transition-all ease-in-out duration-200 text-lg rounded-lg p-2 flex gap-1 items-center justify-center w-full font-semibold hover:text-white"
              ><i class="fa-brands text-2xl fa-whatsapp"></i>
              {% if request.session.lang == 'en' %}   Text in WhatsApp {% else %} হোয়াটস অ্যাপে মেসেজ দিন {% endif %}
            </a>
            <a href="tel:+8801521771635"
              class="text-navbar-active hover:bg-navbar-hover transition-all ease-in-out duration-200 text-lg rounded-lg p-2 flex gap-1 items-center justify-center w-full font-semibold hover:text-white"
              ><i class="text-2xl fa-solid fa-phone"></i>
              {% if request.session.lang == 'en' %}  Call Us {% else %} কল করুন {% endif %}
            </a>
          </div>
        </div>
        </dialog>
      </div>

    {% block body %}

    {% endblock %}
    </main>

    <footer>

      <section class="py-6">
        <!-- follow us -->
        <h3 class="text-title-text text-xl text-center lg:text-2xl font-bold pt-10 pb-4">
          {% if request.session.lang == 'en' %}  Follow Us {% else %} আমাদের ফলো করুন {% endif %}
        </h3>
        <div class="flex justify-center items-center gap-8">
          <a href="#"><i class="text-4xl text-blue-600 fa-brands fa-facebook"></i></a>
          <a href="#"><i class="text-4xl text-red-700 fa-brands fa-youtube"></i></a>
          <a href="#"><i class="text-4xl text-rose-900 fa-brands fa-instagram"></i></a>
          <a href="#" class="bg-white rounded-lg"><i class="fa-brands text-4xl fa-x-twitter bg-state-500"></i></a>
        </div>

        <!-- contact us -->
        <h3 id="contact_us" class="text-title-text text-xl text-center lg:text-2xl font-bold pt-10 pb-4">
          {% if request.session.lang == 'en' %}  Contact Us {% else %} যোগাযোগ করুন {% endif %}
        </h3>
        <div class="flex justify-center">
        <div class="space-y-3">
          <div class="flex gap-2 items-center bg-pink-900 p-2 rounded-lg"><i class="text-2xl text-blue-400 fa-solid fa-phone"></i><p class="text-primary-text/80">16780</p></div>
          <div class="flex gap-2 items-center bg-pink-900 p-2 rounded-lg"><i class="text-2xl text-yellow-600 fa-solid fa-message"></i></i><p class="text-primary-text/80">team@vashaacademy</p></div>
          <div class="flex gap-2 items-center bg-pink-900 p-2 rounded-lg"><i class="fa-solid text-2xl text-green-700 fa-location-dot"></i><p class="text-primary-text/80">gulistan,dhaka,bd</p></div>
        </div></div>
      </section>
      <section class="bg-neutral-900 py-8">
        <p class="text-center text-lg text-primary-text/70 mb-3">@VashaAcademy 2024 | All Rights Reserved</p>
        <p class="text-center text-md text-primary-text/80">Developed by: <a href="mailto:saikatislam709@gmail.com" class="underline">Saikat Islam</a></p>
      </section>
    </footer>
  </body>
  <script src="{% static 'js/script.js' %}"></script>
</html>
