{% extends 'base.html' %}
{% load static %}

{% block title %}
  Vasha Academy - Homepage
{% endblock %}


{% block body %}
  <br>
  <section>
      <div class="pt-24 m-auto">
        <div class="flex justify-center w-full rounded-3xl">
          <video src="https://media.istockphoto.com/id/1574596562/video/b-roll-hand-of-woman-touching-meadow-in-the-rays-of-the-sunset-summer-female-walks-through.mp4?s=mp4-640x640-is&k=20&c=TMvRwr9vgN8RqDD_GCTsaDCkX78vJTht8_V_nubCLEs="
                 class="h-fit w-2/3 rounded-2xl lg:w-[35vw]"
                 title=""
                 frameborder="0"
                 autoplay loop muted playsinline
          > </video>
        </div>
        <p class="text-primary-text text-center mt-4 text-sm">This is Vasha Academy. Where you aim to accelerate your learning</p>
      </div>
    <br>
  </section>

  <!--  Courses-->

  <section class="py-10 w-2/3 h-200 lg:h-250 mx-auto text-center pb-15">
        <!-- title  -->
        <h3 class="text-title-text text-3xl lg:text-5xl mb-5 font-black">UBT Exam 2024</h3>
        <!-- course cards -->
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-1 mt-2">
          <!-- card -->
            {% for i in exams %}
            <div class="card bg-gray-800 shadow-md p-2 pb-10 mx-5 mb-5">
                <div class="card-body items-center text-center p-0 mt-4">
                  <div class="relative">
                <h2 class="card-title text-title-text text-2xl">Exam Title</h2>
                {% if i == 1 %}
                      <p class="text-red-400 text-base absolute top-0 -right-10 font-semibold">Free</p>
                 {% endif %}
                </div>
                <p class="text-primary-text">Exam Description</p>
                <p class="text-primary-text btext-bold">Price: </p>
                <div class="card-actions">
                    <button
                        class="bg-navbar-active hover:bg-navbar-hover text-white transition-all ease-in-out duration-200 border-none text-lg px-6 rounded-md py-2"
                    >
                    {% if i == 1 %}
                        See Course
                    {% else %}
                        Enroll Now
                    {% endif %}

                     </button>
                </div>
                </div>
            </div>
            {% endfor %}
        </div>
  </section>

  <!--  FAQ   -->
  <section class="py-10 mx-auto md:px-24 md:mx-24">
      <ul class="menu px-1 px-5">
        <li>
          <details>
            <summary class="lg:text-3xl text-xl font-semibold text-title-text/80">Frequently Asked Questions</summary>
            <!-- Questions -->
            <div class="rounded-t-none p-2 space-y-2">
              <!-- Question one  -->
              <div class="collapse collapse-plus bg-gray-800">
                <input type="radio" name="my-accordion-3" checked="checked" />
                <div class="collapse-title text-xl font-medium text-primary-text">How Much Should It take to finish?</div>
                <div class="collapse-content">
                  <p class="text-primary-text/80">9 Months</p>
                </div>
              </div>
              <!-- Question one  -->
              <div class="collapse collapse-plus bg-gray-800">
                <input type="radio" name="my-accordion-3" checked="checked" />
                <div class="collapse-title text-xl font-medium text-primary-text">How Much Should It take to finish?</div>
                <div class="collapse-content">
                  <p class="text-primary-text/80">9 Months</p>
                </div>
              </div>
              <!-- Question Two  -->
              <div class="collapse collapse-plus bg-gray-800">
                <input type="radio" name="my-accordion-3" checked="checked" />
                <div class="collapse-title text-xl font-medium text-primary-text">How Much Should It take to finish?</div>
                <div class="collapse-content">
                  <p class="text-primary-text/80">9 Months</p>
                </div>
              </div>
              <!-- Question Two -->
              <div class="collapse collapse-plus bg-gray-800">
                <input type="radio" name="my-accordion-3" checked="checked" />
                <div class="collapse-title text-xl font-medium text-primary-text">How Much Should It take to finish?</div>
                <div class="collapse-content">
                  <p class="text-primary-text/80">9 Months</p>
                </div>
              </div>
            </div>
          </details>
      </ul>
    </section>

{% endblock %}
